.react-select-container {
    width: 100%;
  }
  .react-select__control {
    border: 1px solid #d1d5db; /* Tailwind gray-300 */
    border-radius: 0.375rem; /* Tailwind rounded-lg */
    padding: 0.375rem;
  }
  .react-select__control--is-focused {
    border-color: #6b7280; /* Tailwind gray-500 */
    box-shadow: 0 0 0 2px #6b7280;
  }
  